<footer class="footer full">
  <section class="footer_section full">
    <div class="ft_box ft_logo_box">
      <a href="https://corpolead.com/" class="rel_left">
        <img src="https://corpolead.com/assets/images/fixed_logo.png">
        <p class="copyright">© corpolead.com<br></p>
      </a>
    </div>
    <div class="ft_box ft_menu_box">
      <ul class="full">
        <li><a href="https://corpolead.com/tehlukesizlik-yanasmasi" title="Təhlükəsizlik" class="">Təhlükəsizlik</a>
        </li>
        <li><a href="https://corpolead.com/xidmet-sozlesmesi" title="Xidmət sözləşməsi" class="">Xidmət sözləşməsi</a>
        </li>
        <li><a href="http://corpolead.com/presentationAZ.pdf" title="Təqdimatımız" class="">Təqdimatımız</a></li>
        <li><a href="https://corpolead.com/xidmet-seviyyeleri" title="Xidmət səviyyələri" class="">Xidmət
            səviyyələri</a></li>
        <li><a href="https://corpolead.com/xususi-heller-1" title="Xüsusi həllər" class="">Xüsusi həllər</a></li>
        <li><a href="https://corpolead.com/elaqe" title="Əlaqə" class="">Əlaqə</a></li>
        <li><a href="https://corpolead.com/faq" title="FAQ" class="">FAQ</a></li>
      </ul>
    </div>
    <div class="ft_box ft_social_box">
      <!-- <div class="visa_box"> <a href="#"> <img src="https://corpolead.com/assets/images/visa.png"> </a> <a href="#">
          <img src="https://corpolead.com/assets/images/maestro.png"> </a> </div> -->
      <ul class="social_list">
        <li class="soc_ico twit_ico"><a href="https://www.youtube.com/channel/UCVvQs2KYJaPANpF70Wd123g"
            target="_blank"></a></li>
        <li class="soc_ico fb_ico"><a href="https://www.facebook.com/corpolead/" target="_blank"></a></li>
        <li class="soc_ico link_ico"><a href="https://www.linkedin.com/company/35704830/" target="_blank"></a></li>
      </ul>
    </div>
  </section>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="libs/select2/dist/js/select2.min.js"></script>
<script src="libs/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="libs/OverlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=09eeb1fb-4da3-40ba-829b-c1db2e720c0&lang=en_US"
  type="text/javascript">
  </script>
<script src="js/all.min.js"></script>
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>